bin
dist
logs
project/boot
project/plugins/project
project/project
project/target
target
tmp
.DS_Store
.history
*.iml
.cache
.classpath
.idea
.idea_modules
.project
.scala_dependencies
.settings
.target
out
RUNNING_PID
