@(entryForm: Form[Entry], heading: String)

@main {

  <h1>@heading</h1>

  <form action="@routes.Entries.save()" method="POST">
    <input type="hidden" name="id" value="@entryForm("id").value">
    <div>
      <label for="name">Name</label>
      <div class="input">
        <input type="text" id="name" name="name" value="@entryForm("name").value" autofocus="">
      </div>
    </div>
    <div>
      <label for="phone">Phone</label>
      <div class="input">
        <input type="text" id="phone" name="phone" value="@entryForm("phone").value">
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Save</button>
      <a class="btn" href="@routes.Entries.list()">Cancel</a>
    </div>
  </form>

}
